.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1.5px, 1.5px);
  transform: rotate(-45deg) translate(-1.5px, 1.5px);
}

.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}