.project {
  padding: 2rem 3.5rem;
  width: 700px;
  height: auto;
  object-fit: scale-down;

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-family: 'Oxanium', cursive;
  }

  figcaption {
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
}