.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(25, 25, 25);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  button {
    padding: 2vw;
    color: #818181;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(20px, 7vw, 70px);
    font-weight: bold;
  }

  button:hover, button:focus {
    color: #f1f1f1;
  }

}