.contact {
  padding: 2vw;
  height: 50vh;
  color: rgb(150, 150, 150);
  font-family: Poppins;
  font-size: clamp(16px, 3vw, 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 0;
  }

  button {
    padding: 1.5vw;
    background-color: white;
    font-family: Poppins;
    font-size: clamp(16px, 4vw, 45px);
    border: 1px solid black;
  }

}