.footer {
  background-color: #f4f4f4;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    width: 20px;
    margin-left: 1.5rem;
    vertical-align: text-bottom;
  }

  a {
    margin-left: 0.5rem;
  }

}