body {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
}
.Typewriter {
  margin: 0 auto;
  padding: 2vw;
  font: clamp(20px, 7vw, 70px) "Times New Roman";
  text-align: center;
  line-height: clamp(30px, 10vw, 100px);
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
  color: black;
}